const { argv } = require('yargs');
const config = {
    moduleDirectories: ['node_modules', '<rootDir>'],
    testRegex: '[-.]spec\\.jsx?$',
    coverageDirectory: 'reports/coverage',
    coverageReporters: ['text-summary', 'cobertura'],
    coveragePathIgnorePatterns: ['/node_modules/'],
    reporters: [
        'default',
        [
            'jest-junit',
            {
                suiteName: 'Code Challenges Unit Tests',
                output: 'reports/junit.xml',
                classNameTemplate: '{classname}-{title}',
                titleTemplate: '{classname}-{title}',
                ancestorSeparator: ' › ',
                usePathForSuiteName: 'true'
            }
        ]
    ],
    watchPlugins: ['jest-watch-typeahead/filename', 'jest-watch-typeahead/testname'],
    clearMocks: true // clear mocks between tests
};

// we need to parse the js files with babel if we want to collect coverage
if (config.collectCoverage || argv.coverage) {
    Object.assign(config.transform, { '^.+\\.js$': 'babel-jest' });
}

module.exports = config;
